@use "../scss/override.scss";

@import "bootstrap-icons/font/bootstrap-icons.css";
@import "boxicons/css/boxicons.min.css";

@import "../sneat/css/core.css";
@import "../sneat/css/theme-default.css";
@import "../sneat/css/demo.css";
