/* Icons */
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "boxicons/css/boxicons.min.css";

/* Sneat core (includes Bootstrap) */
@import "../sneat/css/core.css";
@import "../sneat/css/theme-default.css";
@import "../sneat/css/demo.css";
@import "../sneat/css/pages/page-auth.css";
@import "../scss/override.scss";
